*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Django-specific
db.sqlite3
media/
staticfiles/
.env
.env.*

env/
venv/
ENV/
backend/env/

**/migrations/*.pyc
**/migrations/__pycache__/

frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.env

.vscode/
.idea/

.DS_Store
Thumbs.db

.gitignore

